* {
  box-sizing: inherit;
}
body {
  background-color: ghostwhite;
  box-sizing: border-box;
  color: #444;
  font-family: Lato, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
}
h1, h2, h3 {
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 1em;
}
h1 {
  font-size: 2em;
  margin: 0;
}
h2 {
  color: #888;
  font-size: 1.35em;
}
blockquote {
  border-left: 4px solid crimson;
  color: #888;
  margin: 1em 0;
  padding: 0 0 0.5em 0.5em;
}
p {
  margin: 0 0 1em;
}
a {
  color: crimson;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  margin: 0;
  padding-left: 2em;
  list-style-type: circle;
}
code {
  background-color: crimson;
  color: #fff;
  display: block;
  font-family: "Source Code Pro", monospace;
  font-size: .75em;
  overflow-x: auto;
  padding: .5em;
  white-space: pre;
}
code::-webkit-scrollbar {
  height: 0.5em;
}
code::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}
code::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}
.container {
  background: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  margin: 2em auto;
  max-width: 90vw;
  padding: 1.5em;
  width: 800px;
}
.credit {
  box-shadow: none;
  margin: -3.25em auto;
  padding: 0;
  text-align: center;
}
.credit p {
  font-size: 0.625em;
  margin: 0;
}
.live .example {
  align-items: center;
  display: flex;
  justify-content: center;
}
form,
.live h2 {
  width: 100%;
}
input, textarea {
  border: 1px solid #ddd;
  border-radius: 2px;
  color: #444;
  font-family: Lato, "Helvetica Neue", Arial, sans-serif;
  font-size: 100%;
  font-weight: 300;
  line-height: 1.6;
  padding: 1em;
  width: 100%
}
.results {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.results div {
  margin: .5em;
}
img {
  max-width: 100%;
  transition: all .3s ease;
}
.results:hover img {
  opacity: 0.7;
}
.results:hover img:hover {
  opacity: 1;
}
.recent {
  background-color: rgba(175, 175, 175, .1);
  border: 1px solid #ddd;
  border-top: 0;
  list-style: none outside none;
  padding: 0 1em;
}
.recent li {
  color: #777;
  cursor: pointer;
  line-height: 2;
  transition: color .3s ease;
}
.recent li:hover {
  color: #555;
}
@media (min-width: 640px) {
  .usage, .live {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .example {
    width: 49%;
  }
  blockquote {
    padding-left: 1.5em;
  }
  ul {
    padding-left: 2.5em;
  }
}
